# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/

modules.order
Module.symvers
Mkfile.old
dkms.conf

# Other files
CMakeCache.txt
CMakeFiles
CMakeLists.txt~
cmake_install.cmake
counter2.c
counter2.dvi
counter2.idx
counter2.log
counter2.ps
counter2.scn
counter2.tex
counter2.toc
counter2.web~
test.idx
test.scn
test.tex
test.web
test.web~
.gitignore~